h1 {
    color: gray;
}

.error {
    color: rgba(255, 0, 0, 0.9);
}

.success {
    color: green;
}

#test {
    color: maroon;
}

.orange {
    background-color: orange;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.yellow {
    background-color: yellow;
}

.font-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box-model { 
    border: 1px solid red;
    height: 50px;
    width: 200px;
    padding: 10px;  
    margin: 20px;
    border-radius: 20px;
}
.inheritance {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th,td {
    border: 1px solid black;
}
th {
    background-color: antiquewhite;
    padding:10px;
    
}
td {
    text-align: center;
    background-color: whitesmoke;
    padding:10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.content-1 {
    border: 1px solid red;
    display:inline;
}
.content-1 {
    border: 1px solid red;
    display:inline;
}
.content-2 {
    border: 1px solid blue;
    display:block;
}
.content-3 {
    border: 1px solid green;
    display:none;
}
.position-1 {
    border:1px solid red;
    position:static;
}
.position-2 {
    border:1px solid blue;
    position:relative;
    top: 50px;
    left: 100px;
}
.position-3 {
    border: 1px solid black;
    background-color: green;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    bottom:0px;
    right:0px;
}

.position-4 {
    border: 1px solid brown;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.container {
    border: 1px solid black;
    position: relative;
    height: 1000px;
    width: 200px;
}

.position-0 {
    border: 1px solid blueviolet;
    position: sticky;
    top:50px;
    left: 100px;
}

.em-container {
    font-size: 20px;
    padding: 0.5em;
}
.em {
    font-size: 2em;
}
